<div class="dashboard">
  <!-- ACTION BUTTON -->
  <div class="dashboard-actions">
    <button mat-raised-button color="primary" routerLink="/company/create-job">
      Crea Nuovo Annuncio
    </button>

    <button mat-stroked-button routerLink="/company/profile">
      Profilo Azienda
    </button>
  </div>

  <!-- HEADER -->
  <mat-card class="dashboard-header">
    <div class="header-left">
      <h1>{{ company.companyName }}</h1>
    </div>
  </mat-card>

  <!-- INFO GRID -->
  <div class="dashboard-grid">
    <mat-card class="info-card">
      <h3>Email Aziendale</h3>
      <p>{{ company.companyEmail }}</p>
    </mat-card>

    <mat-card class="info-card">
      <h3>Telefono</h3>
      <p>{{ company.companyPhone }}</p>
    </mat-card>

    <mat-card class="info-card">
      <h3>Indirizzo</h3>
      <p>{{ company.companyAddress }}</p>
    </mat-card>
  </div>

  <!-- MY JOBS -->
  <mat-card class="jobs-section">
    <h2>Miei Annunci</h2>

    <div *ngIf="myJobs.length === 0">Nessun Annuncio creato ancora.</div>

    <div class="jobs-list">
      <mat-card *ngFor="let job of myJobs" class="detail-card">
        <!-- HEADER -->
        <div class="card-header">
          <div>
            <mat-card-title>{{ job.title }}</mat-card-title>
            <mat-card-subtitle> {{ job.location }} </mat-card-subtitle>
          </div>

          <div class="header-right">
            <span class="job-type">
              {{ job.type }}
            </span>
            <div *ngIf="isExpired(job.expiresAt)" class="expired-badge">
              SCADUTO
            </div>

            <div
              class="status-badge"
              [ngClass]="{
                PENDING: job.status === 'PENDING',
                APPROVED: job.status === 'APPROVED',
              }"
            >
              {{ statusMap[job.status] }}
            </div>
          </div>
        </div>

        <!-- BODY -->
        <mat-card-content>
          <div class="meta-info">
            <span>
              <strong>Pubblicato:</strong>
              {{ job.createdAt | date: "dd/MM/yyyy HH:mm" }}
            </span>
            <br />
            <span>
              <strong>Scadenza:</strong>
              {{ job.expiresAt | date: "dd/MM/yyyy HH:mm" }}
            </span>
          </div>

          <h3 class="section-title">Descrizione</h3>
          <p class="description">
            {{ job.description }}
          </p>

          <h3 class="section-title">Link di Riferimento</h3>
          <p class="contact-section" *ngIf="job.referenceLink">
            <a
              [href]="job.referenceLink"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ job.referenceLink }}
            </a>
          </p>
        </mat-card-content>

        <mat-divider></mat-divider>

        <!-- ACTION -->
        <mat-card-actions class="renew-delete-section">
          <button
            *ngIf="isExpired(job.expiresAt)"
            mat-stroked-button
            (click)="renewJob(job._id)"
          >
            Rinnova 30 giorni
          </button>
          <button mat-stroked-button color="warn" (click)="deleteJob(job._id)">
            Elimina Annuncio
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
