<mat-toolbar color="primary" class="navbar">
  <!-- Logo a sinistra -->
  <span class="logo">Job Matching</span>

  <span class="spacer"></span>

  <!-- MENU DESKTOP -->
  <div class="desktop-menu">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/jobs">Annunci</button>

    <button
      mat-button
      routerLink="/dashboard"
      *ngIf="authService.isAuthenticated() && !authService.isAdmin()"
    >
      Dashboard
    </button>

    <button mat-button routerLink="/register" *ngIf="!isAuth()">
      Registrati
    </button>

    <button mat-button routerLink="/admin" *ngIf="isAdmin() === 'ADMIN'">
      Admin
    </button>

    <button
      mat-stroked-button
      color="accent"
      *ngIf="!isAuth()"
      routerLink="/login"
    >
      Login
    </button>

    <button mat-raised-button color="warn" *ngIf="isAuth()" (click)="logout()">
      Logout
    </button>
  </div>

  <!-- 🔥 BURGER A DESTRA (SOLO MOBILE) -->
  <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" class="sidenav">
    <div class="sidenav-menu">
      <button
        class="sidenav-btn"
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()"
      >
        Home
      </button>

      <button
        class="sidenav-btn"
        routerLink="/jobs"
        routerLinkActive="active-link"
        (click)="sidenav.close()"
      >
        Annunci
      </button>

      <button
        class="sidenav-btn"
        routerLink="/dashboard"
        routerLinkActive="active-link"
        *ngIf="authService.isAuthenticated() && !authService.isAdmin()"
        (click)="sidenav.close()"
      >
        Dashboard
      </button>

      <button
        class="sidenav-btn"
        routerLink="/register"
        routerLinkActive="active-link"
        *ngIf="!isAuth()"
        (click)="sidenav.close()"
      >
        Registrati
      </button>

      <button
        class="sidenav-btn"
        routerLink="/admin"
        routerLinkActive="active-link"
        *ngIf="isAdmin() === 'ADMIN'"
        (click)="sidenav.close()"
      >
        Admin
      </button>

      <button
        class="sidenav-btn"
        routerLink="/login"
        routerLinkActive="active-link"
        *ngIf="!isAuth()"
        (click)="sidenav.close()"
      >
        Login
      </button>

      <button
        class="sidenav-btn"
        *ngIf="isAuth()"
        (click)="logout(); sidenav.close()"
      >
        Logout
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="layout-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  © 2026 Job Matching | Built with Angular & Material
</footer>
