<div class="admin-container">
  <h1>Admin Dashboard</h1>

  <!-- ================== AZIENDE ================== -->

  <mat-card class="admin-section">
    <h3>Aziende Registrate</h3>

    <div *ngIf="companies.length === 0">Nessuna Azienda Registrata.</div>

    <div class="admin-users-grid">
      <mat-card class="admin-user-card" *ngFor="let company of companies">
        <mat-card-title>
          {{ company.companyName }}
        </mat-card-title>

        <mat-card-subtitle>Email Login: {{ company.email }} </mat-card-subtitle>

        <mat-card-content>
          <p>📧 {{ company.companyEmail }}</p>
          <p>📞 {{ company.companyPhone }}</p>
          <p>📍 {{ company.companyAddress }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteCompany(company._id)"
          >
            Elimina
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>

  <!-- ================== JOBS ================== -->

  <mat-card class="admin-section">
    <h3>Annunci Disponibili</h3>

    <div *ngIf="jobs.length === 0">Nessun Annuncio Disponibile.</div>

    <div class="admin-jobs-grid">
      <mat-card class="admin-job-card" *ngFor="let job of jobs">
        <mat-card-title>
          {{ job.title }}
        </mat-card-title>

        <p
          [ngStyle]="{
            color: job.status === 'PENDING' ? '#ff9800' : '#4caf50',
            fontWeight: '600',
          }"
        >
          {{ statusMap[job.status] }}
        </p>

        <mat-card-subtitle>
          📍 {{ job.location }} | {{ job.companyId?.companyName }}
        </mat-card-subtitle>

        <mat-card-content>
          <p
            [ngClass]="{
              'admin-job-description': !job.expanded,
            }"
          >
            {{ job.description }}
          </p>

          <button
            mat-button
            color="primary"
            *ngIf="job.description.length > 200"
            (click)="toggleDescription(job)"
          >
            {{ job.expanded ? "Mostra meno" : "Mostra altro" }}
          </button>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-stroked-button
            color="primary"
            *ngIf="job.status === 'PENDING'"
            (click)="approveJob(job._id)"
          >
            Approva
          </button>

          <button mat-stroked-button color="warn" (click)="deleteJob(job._id)">
            Elimina
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
