<div class="admin-container">
  <h1>Admin Dashboard</h1>

  <!-- ================== AZIENDE ================== -->

  <mat-card class="admin-section">
    <h3>🏢 Aziende Registrate</h3>

    <div *ngIf="companies.length === 0">Nessun Azienda Registrata.</div>

    <div *ngFor="let company of companies" class="admin-company">
      <div>
        <h4>{{ company.companyName }}</h4>
        <p>{{ company.companyEmail }}</p>
        <p>{{ company.phone }}</p>
        <p>{{ company.address }}</p>
      </div>

      <button mat-stroked-button color="warn" (click)="deleteCompany()">
        Elimina Azienda
      </button>
    </div>
  </mat-card>

  <!-- ================== JOBS ================== -->

  <mat-card class="admin-section">
    <h3>📌 Annunci Disponbili</h3>

    <div *ngFor="let job of jobs" class="admin-job">
      <div>
        <h4>{{ job.title }}</h4>
        <p>{{ job.company }}</p>
      </div>

      <div class="actions">
        <button mat-stroked-button color="primary">Approva</button>

        <button mat-stroked-button color="warn" (click)="deleteJob(job.id)">
          Elimina
        </button>
      </div>
    </div>
  </mat-card>
</div>
