<div class="create-container">
  <button mat-button routerLink="/company/dashboard">
    ← Torna alla Dashboard
  </button>

  <mat-card class="create-card">
    <h2>Crea annuncio di lavoro</h2>

    <div class="warning-box">
      Attenzione: dopo la pubblicazione dell'annuncio, sarà necessario attendere
      l'approvazione dell'amministratore prima che venga visibile nella sezione
      degli annunci pubblici.
    </div>

    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Titolo Annuncio</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Luogo di Lavoro</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo Contratto</mat-label>
        <input matInput formControlName="type" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descrizione</mat-label>
        <textarea matInput rows="5" formControlName="description"> </textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Link di riferimento</mat-label>
        <input matInput formControlName="link" type="url" />

        <mat-error *ngIf="jobForm.get('link')?.hasError('required')">
          Il link è obbligatorio
        </mat-error>

        <mat-error *ngIf="jobForm.get('link')?.hasError('pattern')">
          Inserisci un link valido (es. https://...)
        </mat-error>
      </mat-form-field>

      <!-- INFO AZIENDA -->
      <div class="company-info">
        <h3>Dati Aziendali (presi dal profilo)</h3>

        <p>
          📧 Email Aziendale:
          <strong>{{ company?.companyEmail }}</strong>
        </p>

        <p>
          📞 Telefono Aziendale:
          <strong>{{ company?.companyPhone }}</strong>
        </p>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        [disabled]="jobForm.invalid"
      >
        Pubblica Annuncio
      </button>
    </form>
  </mat-card>
</div>
