<div class="admin-container">
  <div class="top-bar">
    <button mat-button routerLink="/admin">← Torna alla pagina Admin</button>
  </div>

  <mat-card class="jobs-section">
    <h2>Annunci Disponbili</h2>

    <div *ngIf="jobs.length === 0">Nessun Annuncio creato ancora.</div>

    <div class="jobs-list">
      <mat-card *ngFor="let job of jobs" class="detail-card">
        <!-- HEADER -->
        <div class="card-header">
          <div>
            <mat-card-title>{{ job.title }}</mat-card-title>
            <mat-card-subtitle>
              📍 {{ job.location }} | {{ job.companyId?.companyName }}
            </mat-card-subtitle>
            <div
              class="status-text"
              [ngClass]="{
                PENDING: job.status === 'PENDING',
                APPROVED: job.status === 'APPROVED',
              }"
            >
              {{ statusMap[job.status] }}
            </div>
          </div>

          <div class="header-right">
            <span class="job-type">
              {{ job.type }}
            </span>
            <div *ngIf="isExpired(job.expiresAt)" class="expired-badge">
              SCADUTO
            </div>
          </div>
        </div>

        <!-- BODY -->
        <mat-card-content>
          <div class="meta-info">
            <span>
              <strong>Pubblicato:</strong>
              {{ job.createdAt | date: "dd/MM/yyyy HH:mm" }}
            </span>
            <br />
            <span>
              <strong>Scadenza:</strong>
              {{ job.expiresAt | date: "dd/MM/yyyy HH:mm" }}
            </span>
          </div>

          <h3 class="section-title">Descrizione</h3>
          <p class="description">
            {{ job.description }}
          </p>

          <h3 class="section-title">Link di Riferimento</h3>
          <p class="contact-section" *ngIf="job.referenceLink">
            <a
              [href]="job.referenceLink"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ job.referenceLink }}
            </a>
          </p>
        </mat-card-content>

        <mat-divider></mat-divider>

        <!-- ACTION -->
        <mat-card-actions class="delete-section">
          <button mat-stroked-button color="warn" (click)="deleteJob(job._id)">
            Elimina Annuncio
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
